body {
    margin: 0%;
    font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: "Indie Flower", system-ui;
        font-weight: 400;
        font-style: normal;

}
.actu-accueil {
    text-decoration: underline #F2F2F2 2px;
}

#lvl{
    background-color: #F2F2F2;
    max-width: 100%;
    min-height: 100px;
    max-height: 175px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    max-height: 15%;
    background-color: #BC002C;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #F2F2F2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    

    h1 {
        margin: 0;
    }

    a {
        color: #F2F2F2;
        text-decoration: none;
        margin-right: 5%;
        margin-left: 5%;
    }

    a:hover {
        text-decoration: underline #F2F2F2 1px;
    }
}

#titre1 {
    margin-top: 8%;
}

#ligne1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}


#ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

#colone1 {
    max-height: 20%;
}
#bouton {
    max-width: 25%;
}

.card {
    width: 500px;
    height: 350px;
    position: relative;
    overflow: hidden;
border-radius: 32px;


}
.card>img, .halfcard>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card>.overlay, .halfcard>.overlay {
    
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    color: black;
    overflow: auto;
    text-align: center;
    
}
ul {
    list-style-type:none ;
}
.card>.overlay:hover, .halfcard>.overlay:hover {
    opacity: 1;
}
.card>.constant, .halfcard>.constant{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #F2F2F2;
}

.halfcard {
    width: 500px;
    height: 160px;
    position: relative;
    overflow: hidden;
border-radius: 32px;
}
#galerie {
    background-color: white;
    
}
#interventions {
    margin-top: 25px;
}
section {
    margin-bottom: 75px;
    margin-bottom: 250px;
}