body {
    margin: 0%;
    font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: "Indie Flower", system-ui;
        font-weight: 400;
        font-style: normal;

}
.actu-accueil {
    text-decoration: underline #F2F2F2 2px;
}

#lvl{
    background-color: #F2F2F2;
    max-width: 100%;
    min-height: 100px;
    max-height: 175px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    max-height: 15%;
    background-color: #BC002C;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #F2F2F2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    

    h1 {
        margin: 0;
    }

    a {
        color: #F2F2F2;
        text-decoration: none;
        margin-right: 5%;
        margin-left: 5%;
    }

    a:hover {
        text-decoration: underline #F2F2F2 1px;
    }
}

#titre1 {
    margin-top: 8%;
}

#ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}
#atelier, #stage-adultes,#maquillage, #interventions, #baby, #stage-enfants, #nos-spectacles {
    
    img {
        position: relative;
        width: 85%;
        border-radius: 16px;
}
#interventions, #maquillage {
    img {
        
        max-width: 50%;
    }
}
}
#ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.bouton {
    max-width: 8%;
}
#text-hover1 {
    position: absolute;
top: 620px;
left: 50px;
z-index: 999;
color: #F2F2F2;
}
#text-hover2 {
    position: absolute;
top: 620px;
left: 700px;
z-index: 999;
color: #F2F2F2;
}
#text-hover3 {
    position: absolute;
top: 480px;
left: 1320px;
z-index: 999;
color: #F2F2F2;
}
#text-hover4 {
    position: absolute;
top: 680px;
left: 1320px;
z-index: 999;
color: #F2F2F2;
}
#text-hover5 {
    position: absolute;
top: 1120px;
left: 80px;
z-index: 999;
color: #F2F2F2;
}
#text-hover6 {
    position: absolute;
top: 1120px;
left: 1000px;
z-index: 999;
color: #F2F2F2;
}
#colone1 {
    max-height: 20%;
}