body {
    margin: 0%;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
    color: #BC002C;

}

h1,h4,
h5,
h6
{
font-family: "Indie Flower", system-ui;
font-weight: 400;
font-style: normal;
color: #BC002C;
}

.Solid {
    font-family: "Indie Flower", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #F2F2F2;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    
    background-color: #BC002C;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #F2F2F2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;


    h1 {
        margin: 0;
    }

    a {
        color: #F2F2F2;
        text-decoration: none;
        margin-right: 5%;
        margin-left: 5%;
    }

    a:hover {
        text-decoration: underline #F2F2F2 1px;
    }
}

#premier,
#landingpage {
    margin-top: 12%;
}

form {
    

    a {
        margin-top: 10%;
        padding: 1%;
        padding-left: 5%;
    padding-right: 5%;
        background-color: #BC002C;
        color: #F2F2F2;
        border-radius: 32px;
        border: #F2F2F2 solid 1px;
        text-decoration: none;
        box-shadow:
            4px 4px 4px #940023,
            4px 4px 4px #940023,
            4px 4px 4px #940023,
            4px 4px 4px #940023;
    }
    a:hover {
        padding: 1.5%;
        border-radius: 32px;
        background-color: #F2F2F2;
        color: #BC002C;
        border: #BC002C solid 1px;
        padding-left: 5.5%;
        padding-right: 5.5%;
        box-shadow:
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44;

    }
}

input {
    margin-bottom: 2%;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 32px;
    background-color: #F2F2F2;
    border: #F2F2F2;
}

#gauche {
    color: #F2F2F2;
    max-width: 100%;
    min-width: none;
    max-height: 100%;
    min-height: none;
    margin-left: 5%;
    h1 {
        color: #F2F2F2;
    }
    
}

#premier {
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: #BC002C;
    border-radius: 16px;
    max-width: 80%;
    margin-left: 10%;
}
::placeholder {
    color: #BC002C ;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 18px;
}
.titre-simple {
    margin-top: 5%;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.bouton {
    margin-top: 20%;
    padding: 4%;
    padding-left: 12%;
padding-right: 12%;
    background-color: #BC002C;
    color: #F2F2F2;
    border-radius: 32px;
    border: #F2F2F2 solid 1px;
    text-decoration: none;
    box-shadow:
        4px 4px 4px #940023,
        4px 4px 4px #940023,
        4px 4px 4px #940023,
        4px 4px 4px #940023;
}
.bouton:hover {
    padding: 4.5%;
    border-radius: 32px;
    background-color: #F2F2F2;
    color: #BC002C;
    border: #BC002C solid 1px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    box-shadow:
    4px 4px 4px #ff0c44,
    4px 4px 4px #ff0c44,
    4px 4px 4px #ff0c44,
    4px 4px 4px #ff0c44;

}
#enfants {
    max-width: 90%;
    min-width: 80%;
}

#premier {
    display: flex;
}
footer {
    background-color: #BC002C;
    color: #F2F2F2;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: end;
    justify-content: space-around;
    justify-items: center;
    padding:2%;
    
    a{
        color: #BC002C;
        text-decoration: none;
    }
    #boite1, #boite2 {
        background-color: #F5F5F5;
        border-radius: 16px;
        color: #BC002C;
        padding:1%;
        padding-left: 2%;
        padding-right: 2%;
    }
}
#Logo {
    max-width: 100%;
    img {
    max-width: 100%;
    }
}
