body {
    margin: 0%;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
    color: #BC002C;

}
.logo-blanc {
    margin-bottom: 2%;
    margin-top: 1%;
}

h1,
h3,
h4,
h5,
h6 {
    margin: 0%;
    font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}
.gras {
    font-weight: bold;
    font-size: 65px;
}
.indie {
    font-family: "Indie Flower", system-ui;
font-weight: 400;
font-style: normal;
}
.Solid {
font-size: 40px;
}
.footer {
    font-size: 30px;
}

.actu-accueil {
    text-decoration: underline #F2F2F2 2px;
}


header {
    background-color: #BC002C;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #F2F2F2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
width: 100%;

    h1 {
        margin: 0;
    }

    a {
        color: #F2F2F2;
        text-decoration: none;
        margin-right: 5%;
        margin-left: 5%;
    }

    a:hover {
        text-decoration: underline #F2F2F2 1px;
    }
}

#premier,
#landingpage {
    margin-top: 8%;
}

form {
    

    a {
        margin-top: 200px;
        padding: 1%;
        padding-left: 5%;
    padding-right: 5%;
        background-color: #BC002C;
        color: #F2F2F2;
        border-radius: 32px;
        border: #F2F2F2 solid 1px;
        text-decoration: none;
        box-shadow:
            4px 4px 4px #940023,
            4px 4px 4px #940023,
            4px 4px 4px #940023,
            4px 4px 4px #940023;
    }
    a:hover {
        padding: 1.5%;
        border-radius: 32px;
        background-color: #F2F2F2;
        color: #BC002C;
        border: #BC002C solid 1px;
        padding-left: 5.5%;
        padding-right: 5.5%;
        box-shadow:
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44;

    }
}

input {
    margin-bottom: 2%;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 32px;
    background-color: #F2F2F2;
    border: #F2F2F2;
}

#gauche {
    position: relative;
    color: #F2F2F2;
    max-width: 1000px;
   
    max-height: 1000px;

    h1 {
        color: #F2F2F2;
    }
    
}
section {
    display: flex;
    justify-content: center;
}
#premier {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: #BC002C;
    border-radius: 16px;
    width: 1600px;
}
::placeholder {
    color: #BC002C ;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 18px;
}
.titre-simple {
    margin-top: 5%;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.bouton {
    margin-top: 20%;
    padding: 4%;
    padding-left: 12%;
padding-right: 12%;
    background-color: #BC002C;
    color: #F2F2F2;
    border-radius: 32px;
    border: #F2F2F2 solid 1px;
    text-decoration: none;
    box-shadow:
        4px 4px 4px #940023,
        4px 4px 4px #940023,
        4px 4px 4px #940023,
        4px 4px 4px #940023;
}
.bouton:hover {
    padding: 4.5%;
    border-radius: 32px;
    background-color: #F2F2F2;
    color: #BC002C;
    border: #BC002C solid 1px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    box-shadow:
    4px 4px 4px #ff0c44,
    4px 4px 4px #ff0c44,
    4px 4px 4px #ff0c44,
    4px 4px 4px #ff0c44;

}
#enfants {
    max-width: 600px;
    max-height: 850px;
    object-fit: cover;
    border-radius: 32px;
}

footer {
    background-color: #BC002C;
    color: #F2F2F2;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: end;
    justify-content: space-around;
    justify-items: center;
    padding:2%;
    
    a{
        color: #BC002C;
        text-decoration: none;
    }
    #boite1, #boite2 {
        background-color: #F5F5F5;
        border-radius: 16px;
        color: #BC002C;
        height: 200px;
        width: 400px;
    }
}
#Logo {
    height: 250px;
        width: 400px;
}
