body {
    margin: 0%;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
    color: #BC002C;

}

h1,h4,
h5,
h6
{
font-family: "Indie Flower", system-ui;
font-weight: 400;
font-style: normal;
color: #BC002C;
}
.actu-accueil {
    text-decoration: underline #F2F2F2 2px;
}

.Solid {
    font-family: "Indie Flower", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #F2F2F2;
}

header {
    background-color: #BC002C;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #F2F2F2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
width: 100%;

    h1 {
        margin: 0;
    }

    a {
        color: #F2F2F2;
        text-decoration: none;
        margin-right: 5%;
        margin-left: 5%;
    }

    a:hover {
        text-decoration: underline #F2F2F2 1px;
    }
}

.logo-blanc {
    margin-bottom: 2%;
    margin-top: 1%;
}


.les-enfants {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.les-enfants img {
        height: 300px;
        width: 600px;
        object-fit: cover;
        border-radius: 32px;
        margin: 0%;
}


section {
    text-align: center;
    width: 100%;
}

footer {
    background-color: #BC002C;
    color: #F2F2F2;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: end;
    justify-content: space-around;
    justify-items: center;
    padding:2%;
    
    a{
        color: #BC002C;
        text-decoration: none;
    }
    #boite1, #boite2 {
        background-color: #F5F5F5;
        border-radius: 16px;
        color: #BC002C;
        height: 200px;
        width: 400px;
    }
}
#Logo {
    height: 250px;
        width: 400px;
}


#img1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#img2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}