    body {
    margin: 0%;
    font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #F2F2F2;
    text-align: center;
    color: black;
}

h1,
h3,
h4,
h5,
h6 {
    margin: 0%;
    font-family: "Raleway", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}
.gras {
    font-weight: bold;
    font-size: 65px;
}
.indie {
    font-family: "Indie Flower", system-ui;
font-weight: 400;
font-style: normal;
}
.Solid {
font-size: 40px;
}
.footer {
    font-size: 30px;
}

.actu-accueil {
    text-decoration: underline #F2F2F2 2px;
}



.logo-blanc {
    margin-bottom: 2%;
    margin-top: 1%;
}
header {
    background-color: #BC002C;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #F2F2F2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
width: 100%;

    h1 {
        margin: 0;
    }

    a {
        color: #F2F2F2;
        text-decoration: none;
        margin-right: 5%;
        margin-left: 5%;
    }

    a:hover {
        text-decoration: underline #F2F2F2 1px;
    }
}
#sect-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    min-width:300px;
    margin-bottom: 2%;
}

#partie1 {
    margin:0%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    justify-items: center;
    
    img {
        max-width: 80%;
        border-radius: 32px;
        
    }
   a {
    padding: 2%;
    min-height:300px;
    max-width: 80%;
    border-radius: 32px;
    background-color: #ffff;
    color: #BC002C;
    text-decoration: none;
    border: #BC002C solid 2px;
    box-shadow: 
    4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44,
        4px 4px 4px #ff0c44;
   }
   a:hover {
    padding: 2%;
    border-radius: 32px;
    min-height:300px;
    max-width: 80%;
    background-color: #BC002C;
    color: #fff;
    text-decoration: none;
    border: #ffff solid 2px;
    box-shadow: 
    4px 4px 4px #940023,
    4px 4px 4px #940023,
    4px 4px 4px #940023,
    4px 4px 4px #940023;;
   }
}
#un img {
    margin:0%;
    margin-left: -6%;
    min-height:300px;
    max-width: 80%;
    object-fit: cover;
    margin-right: -4%;
}
#deux {
    min-height: 300px;
    max-width: 60%;
    background-color: #ffff;
    border-radius: 32px;
    margin-left: -4%;
    p{
        margin:3%;
    }
}


#equipe1, #equipe2, #equipe3,
#equipe4, #equipe5, #equipe6 {
    background-color: #ffff;
    margin: 20px;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
min-width: 300px;
width:40%;
margin:1%;
    img {
        margin:3%;
        max-width:40%;
        max-height:400px;
        object-fit: cover;
        margin-right: 1.5%;
        border-radius: 32px;
    }
    p{
        margin:3%;
    }
}
#partie-1 {

    
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 p {
    font-size: medium;
 }
 
}
#sect-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

footer {
    background-color: #BC002C;
    color: #F2F2F2;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: end;
    justify-content: space-around;
    justify-items: center;
    padding:2%;
    max-width: 100%;
    min-width: 300px;
    border-radius: 16px;
    a{
        color: #BC002C;
        text-decoration: none;
    }
    #boite1, #boite2 {
        background-color: #F5F5F5;
        border-radius: 16px;
        color: #BC002C;
        width: 20%;
        min-width: 300px;
    }
}
#Logo {
        width: 20%;
        min-width: 300px;
}
